@import '_base';
@import '_common';

/**
 * 只通过 Sass 方式来编译，
 * 基本上用不到了，
 * 现在都用 PostCSS 来编译
 */
/* px 转 rem 混合宏 */
@mixin px2rem($property, $px-values, $baseline-px:75px, $support-for-ie:false){
    //Conver the baseline into rems
    $baseline-rem: $baseline-px / 1rem * 1;
    //Print the first line in pixel values
    @if $support-for-ie {
        #{$property}: $px-values;
    }
    //if there is only one (numeric) value, return the property/value line for it.
    @if type-of($px-values) == "number"{
        #{$property}: $px-values / $baseline-rem;
    }
    @else {
        //Create an empty list that we can dump values into
        $rem-values:();
        @each $value in $px-values{
            // If the value is zero or not a number, return it
            @if $value == 0 or type-of($value) != "number"{
                $rem-values: append($rem-values, $value / $baseline-rem);
            }
        }
        // Return the property and its list of converted values
        #{$property}: $rem-values;
    }
}

/* font-size 强制使用 px 方式来适配 */
@mixin font-dpr($font-size){
  font-size: $font-size * 1; 
  [data-dpr="2"] & {
      font-size: $font-size * 2; 
  }
  [data-dpr="3"] & {
      font-size: $font-size * 3; 
  }
}

html{
	background: #f4f4f4!important;
}

body{
  font:14px/1.5 Helvetica, 'SimHei'; /*px*/
  background: #f4f4f4;
  cursor: pointer;
  overflow-x: hidden;
}

a{
	&:hover{
		text-decoration: none!important;
	}
}

header{
	.tab-ul{
		width: 10rem;
		margin: 0 auto;
		overflow: hidden;
		li{
			float: left;
			width: 50%;
			height: 1.12rem;
			line-height: 1.12rem;
			background: #e2e2e2;
			border-bottom: 0.08rem solid #e2e2e2;
			text-align: center;
			color: #767676;
			font-size: 32px; /*px*/
			&.active{
				color: #4487c2;
				border-bottom: 0.08rem solid #4487c2;
			}
		}
	}
}

.content{
	.privilege-ul{
		li{
			margin-top: 0.226667rem;
			.privilege{
				width: 9.546667rem;
				height: 4.186667rem;
				position: relative;
				margin: 0 auto;
				.img{
					width: 100%;
					height: 100%;
					display: block;
					background-size: cover;
				}
				.intro{
					position: absolute;
					top: 1.733333rem;
					left: 0.853333rem;
					font-size: 32px; /*px*/
					color: #e7e7e7;
				}
				.btn-buy, .btn-has{
					font-size: 32px; /*px*/
					// @include px2rem(marigin, 278px);
					// @include px2rem(height, 70px);
					// @include px2rem(line-height, 70px);
					width: 278px;
					height: 70px;
					line-height: 70px;
					// width: 3.706667rem;
					// height: 0.933333rem;
					// line-height: 0.933333rem;
					text-align: center;
					color: #fff;
					background: url('../images/btn-buy.png') no-repeat;
					background-size: cover;
					position: absolute;
					left: 0.786667rem;
					bottom: 0.72rem;
				}
				.btn-has{
					background: none;
					color: #59687d;
					border: 0.04rem solid #59687d;
					border-radius: 0.133333rem;
				}
			}
		}
	}
	.title, .txt{
		font-size: 38px; /*px*/
		margin-top: 0.533333rem;
		color: #1b1b1b;
		width: 9.28rem;
		margin: 0 auto;
	}
	.title{
		font-weight: bold;
		margin-top: 0.533333rem;
	}
	.txt{
		color: #767676;
		font-size: 32px; /*px*/
		margin-bottom: 0.266667rem;
	}
}

.masklayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  background: #161921;
  opacity: .3;
}

.dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -(7.413333rem/2);
  margin-top: -(8.8rem/2);
  width: 7.413333rem;
  min-height: 8.8rem;
  z-index: 11;
  background: #fff;
  display: none;
  border: 1px solid #e0e0e1;
  border-radius: 0.2rem;
  .modal-t, .modal-c{
  	font-size: 38px; /*px*/
  	color: #3e3e3e;
  	margin: 0 auto;
  	width: 6.533333rem;
  }
  .modal-t{
  	margin-top: 0.533333rem;
  	margin-bottom: 0.4rem;
  	text-align: center;
  	font-weight: bold;
  }
  .modal-c{
  	font-size: 28px; /*px*/
  	margin-bottom: 0.8rem;
  }
  .btn-buy, .btn-cancel{
		font-size: 32px; /*px*/
		width: 6.533333rem;
		height: 1.093333rem;
		line-height: 1.093333rem;
		text-align: center;
		color: #fff;
		background: #4487c2;
		display: block;
		margin: 0 auto;
		border-radius: 0.133333rem;
		margin-bottom: 0.133333rem;
  }
  .btn-cancel{
  	background: none;
  	color: #4487c2;
  }
}