extends _layouts-mobile
block title
  title 没错，我就是火马VIP代言人
block style
  link(rel="stylesheet", href="styles/m-vip-update.css")
block main
  .content-wrap
    .bg05
      img(src="images/vip/vip05.jpg", alt="")
    .bg06
      img(src="images/vip/vip06.jpg", alt="")
      p.p1 2017年12月13日
      p.p2 20000顺豆
    .bg07
      img(src="images/vip/vip07.jpg", alt="")
      .btn-wrap
        a.btn(href="###") 分享到朋友圈

      
