extends _layouts
block title
  title 小面板
block style
  link(rel="stylesheet", href="styles/index.css")
block main
  #app(v-cloak)
    little-panel
      .challenge(slot="challenge")
        h2.title
         i
         | 屠龙勇士
        p.text(title="击杀一条炼狱亚龙或者山脉亚龙的玩家平分奖池") 击杀一条炼狱亚龙或者山脉亚龙的玩家平分奖池
        .scan
          p.charge 报名费￥0.5
          img(src="images/qrcode.png", alt="").qrcode
        .reached.none
          p.dou 
           i
           | 12345646
          p.tips （已达成132份）
          .label
            span 匹配
            span 排位
            span#check 17:00结算
          button.unreach 未达成？我不服
          button.unreach.disabled 未达成
          button.reach 已达成，再来一局
          button.reach.disabled 已达成
          button.success
           i
           | 报名成功
          .animate-wrap
            .animate
              .btn-wrap
                button 
                 | 奖励
                 span x2
              .btn-wrap
                button 
                 i
                 | 5000
                 span x5
              .btn-wrap
                button
                 | 奖励
                 span x10
      .info(slot="info")
        h2.title
         i
         | 专题页标题最多十个字
        a(href="#", target="_blank").text 活动注释，宣传语，两行宣传语，两行宣传语，两行宣传语，两行宣传语。
      .banner(slot="banner").none
        a(href="#", target="blank")
          img(src="../images/pics/img_228x108.png", alt="")
      .game(slot="game")
        .start-wrap
          // 玩游戏
          .step1
            h2.title LOL反应能力测试
            p.text.mt30 当<span class="red">红色</span>背景变成<span class="green">绿色</span>时，<span class="blue">尽可能</span>快的<br>点击鼠标左键
            button.start.ti#start 开始
          // 成功有豆
          .step5.none
            h2.title LOL反应能力测试
            p.big 最终成绩：{{ average }}ms
            p.small 获得300顺豆
            p.text 恭喜你，打败了附近95%的玩家
            button.long 去赢豆，兑换点劵
          // 成功无豆
          .step5-1.none
            h2.title LOL反应能力测试
            p.big 最终成绩：{{ average }}ms
            p.text 恭喜你，打败了附近95%的玩家
            button.long 去赢豆，兑换点劵
          // 失败
          .step5-2.none
            h2.title LOL反应能力测试
            p.big.error 最终成绩：{{ average }}ms
            p.text 很遗憾，300ms以内才能获得奖励
            button.long 再玩一次
          // 去哪赢豆
          .step6.none
            h2.title 去哪赢豆？
            p.text.mt30 LOL游戏加载界面参加胜场有你，获得游戏胜利就能赢豆
            button.long 再玩一次
          .game-test.none
            h2.title LOL反应能力测试
            // 等待绿色
            .step2.none
              p.big 等待绿色...
              p.small.hidden 点击重试             
            // 还未开始
            .step2-1.none
              p.big 还未开始...
              p.small 点击重试
            // 点击左键
            .step3.none
              p.big 点击左键！
              p.small.hidden 点击重试
            // 结算
            .step4.none
              p.big 235ms
              p.small 点击继续
            .footer
              span 平均时间 : {{ average }}ms
              span 完成 : {{ count }}/3
  template#tmpl-panel
    .panel
      slot(name="challenge")
      slot(name="info")
      slot(name="banner")
      slot(name="game")
block script
  script(src="scripts/_jquery-3.1.1.min.js")
  //- script(src="scripts/!vue.js")
  script(src="scripts/_vue.min.js")
  script.
    ;(function($){

      Vue.component('little-panel', {
        template: '#tmpl-panel',
        props: ['show'],
        methods: {
          // close: function() {
          //   this.show = false
          // }
        }
      });

      var vm = new Vue({
        el: '#app',
        data: {
          show: false,
          interval: 0,
          average: 0,
          count: 0
        },
        methods: {
          // startGame: function() {
          //   console.log(this[0]);
          // }
        }
      });
      
      $('.btn-wrap button').hover(function(){
        $('#check').addClass('sel');
      }, function(){
        $('#check').removeClass('sel');
      });

      // 小游戏
      var datetime1, datetime2, flag;

      function waitingTiming(){
        var dalay = getRandomArbitrary(1, 3)*1000;
        flag = window.setTimeout(function(){
          $('.step2').hide();  
          $('.game-test').attr('class', 'game-test green'); 
          $('.step3').removeClass('none').show();
          datetime1 = new Date().getTime();
        }, dalay);
      }

      function getRandomArbitrary(min, max) {
        return Math.random() * (max - min) + min;
      }

      $('body').on('click', '#start', function(){
        $('.step1').hide();
        $('.game-test, .step2').removeClass('none').show();
        waitingTiming();
      });

      $('body').on('click', '.step2', function(){
          window.clearTimeout(flag);
          $('.step2').hide();
          $('.step2-1').removeClass('none').show();
      });

      $('body').on('click', '.step2-1', function(){
        $('.step2-1').hide();
        $('.step2').show();
        waitingTiming();
      });

      $('body').on('click', '.step3', function(){
        vm.count++;
        $('.step3').hide();
        datetime2 = new Date().getTime();
        var now = Math.floor(datetime2 - datetime1)
        vm.interval += Math.floor(datetime2 - datetime1);
        vm.average = Math.floor(vm.interval / vm.count);
        var $step4 = $('.step4');
        $step4.find('.big').text(now + 'ms');
        $('.game-test').removeClass('green').addClass('check');
        $step4.removeClass('none').show();
      });

      $('body').on('click', '.step4', function(){
        if(vm.count < 3) {
          $('.step4').hide();
          $('.step2').show();
          $('.game-test').attr('class', 'game-test'); 
          waitingTiming();
        } else {
          $('.game-test, .step4').hide();
          $('.start-wrap').show();
          if(vm.average > 300) {
            $('.step5-2').removeClass('none').show();
          } else {
            $('.step5-1').removeClass('none').show();
          }
        }
      });

      $('body').on('click', '.step5-2 .long, .step6 .long', function(){
        $('.step5-2, .step6').hide();
        $('.step1').show();
        $('.game-test').attr('class', 'game-test'); 
        vm.interval = vm.average = vm.count = 0;
      });

      $('body').on('click', '.step5 .long, .step5-1 .long', function(){
        $('.step5, .step5-1').hide();
        $('.step6').removeClass('none').show();
      });

    })(jQuery);

    
    
