extends _layouts-mobile
block title
  title 新版 APP 来啦
block style
  link(rel="stylesheet", href="styles/m-app1.css")
block main
  .content-wrap
    .bg01
    .bg02
    .bg03
    .bg04
    .bg05
block script