extends _layouts-mobile
block title
  title 新版 APP 来啦
block style
  link(rel="stylesheet", href="styles/m-app.css")
block main
  .content-wrap
    .bg01
      img(src="images/active/bg-01.jpg", alt="")
    .bg02
      img(src="images/active/bg-02.jpg", alt="")
    .bg03
      img(src="images/active/bg-03.jpg", alt="")
    .bg04
      img(src="images/active/bg-04.jpg", alt="")
    .bg05
      img(src="images/active/bg-05.jpg", alt="")
block script
