extends _layouts
block title
  title 资讯分享 PC 端
block style
<<<<<<< HEAD
  link(rel="stylesheet", href="styles/share.css")
=======
  link(rel="stylesheet", href="styles/index.css")
>>>>>>> 8e583b9633794917befa123e6baf2e28fb8473bb
block main
  article
    section.news
      h2.title 八强赛d4综述：外卡奇迹未能延续 H2K成功晋级八强赛d4综述：外卡奇迹未能延续 H2K成功晋级八强赛d4综述：外卡奇迹未能延续 H2K成功晋级
      p.date 2016.10.8 助手哥 火马电竞
      .content
       | 123
       img(src="images/pics/test.jpg", alt="")
       img(src="images/card-month.png", alt="")
block float
  .float-download
    h5.title 火马电竞APP下载
    
